@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #F0EBE3;
  margin: 0 auto;
  letter-spacing: normal;
  line-height: 1.5;
}

h1 {
  font-weight: 800;
  text-align: center;
  color: #748DA6;
}

h2{
  color: #AC7088;
  text-align: center;
}

img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.first_parag{
  color: rgb(50, 50, 50);
  text-align: center;
  margin-bottom: 40px;
}

p {
  color: rgb(50, 50, 50);
  text-align: center;
}
.whitebox {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 600px;
  margin: 1rem auto;
}
#first-box {
  text-align: center;
  padding-bottom: 3rem;
}

.link_github {
  padding: 10px 12px 13px 14px;
  background-color: #DEB6AB;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 400;
}

.link_github:hover{
  color: #AC7088;
  font-size: 3.5;
}

.list-inline {
  list-style: none;
  padding: 0;
  text-align: center;
}

.list-item {
  display: inline-block;
  font-size: 50px;
  /*color: rgb(200, 200, 200);*/
  margin: 20px;
}

.link_footer:hover {
  color: black;
  font-size: 3.5rem;
  text-decoration: none;
}

.link_footer{
  color: #DEB6AB;
}

.container{
  width: 800px;
  margin: 20px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
  .whitebox{
    width:300px;
  }
  .h1-change{
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .whitebox{
    width:220px;
  }
  .h1-change{
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .container {
    width: 280px;
}
  .whitebox{
    width:200px;
  }
  .h1-change{
    font-size: 1.5rem;
  }
}
